//==============================================================================
//==============================Sites_Available=================================
//==============================================================================

Make Symbolic link to config file in Sites_Enables

$ sudo ln -s /etc/nginx/sites-available/example.com /etc/nginx/sites-enabled/

$ sudo systmectl restart nginx 

//==============================================================================

server {
	listen 80;
	listen [::]:80;
	server_name haroldsoftware.com;

	root /home/harold/web/haroldSoftwareWeb/frontend/build;
	index index.html;

	location / {
		try_files $uri $uri/ =404;
	}
}

server {
	listen 80;
	listen [::]:80;
	server_name api.haroldsoftware.com;

	location / {
		proxy_pass http://localhost:3300;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection 'upgrade';
		proxy_set_header Host $host;
		proxy_cache_bypass $http_upgrade;
	}
}

//==============================================================================
